<!-- section master products -->
<section class="section">
  <h6 class="section__master-title">Maestro productos</h6>
  <mat-accordion>
    <mat-expansion-panel
      class="mat__expansion"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header
        class="mat__expansion-header"
        [collapsedHeight]="customCollapsedHeight"
        [expandedHeight]="customExpandedHeight"
      >
        <mat-panel-title> Cargar Maestros </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="mat__expansion-body">
        <h6 class="expansion__body-title">Productos</h6>

        <p>Consultar los productos en Logyca colabora</p>

        <button mat-button class="mat-button-primary">
          Exportar plantilla
        </button>
        <a mat-raised-button class="ml-min" target="_blank">
          Importar plantilla
        </a>
        <!-- <button class="btn btn-outline-dark">Importar plantilla</button> -->
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel
      class="mat__expansion"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header
        class="mat__expansion-header"
        [collapsedHeight]="customCollapsedHeight"
        [expandedHeight]="customExpandedHeight"
      >
        <mat-panel-title> Consultar maestro </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="mat__expansion-body">
        <h6 class="expansion__body-title">Productos</h6>

        <p>Consultar los productos en Logyca colabora</p>

        <button mat-button class="mat-button-primary">
          Exportar plantilla
        </button>
        <a mat-raised-button class="ml-min" target="_blank">
          Importar plantilla
        </a>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<!-- section master localization -->
<section class="section__master">
  <h6 class="section__master-title">Maestro localización</h6>
  <mat-accordion>
    <mat-expansion-panel
      class="mat__expansion"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header
        class="mat__expansion-header"
        [collapsedHeight]="customCollapsedHeight"
        [expandedHeight]="customExpandedHeight"
      >
        <mat-panel-title> Cargar maestro </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="mat__expansion-body">
        <h6 class="expansion__body-title">Productos</h6>

        <p>Consultar los productos en Logyca colabora</p>

        <button mat-button class="mat-button-primary">
          Exportar plantilla
        </button>
        <a mat-raised-button class="ml-min" target="_blank">
          Importar plantilla
        </a>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel
      class="mat__expansion"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header
        class="mat__expansion-header"
        [collapsedHeight]="customCollapsedHeight"
        [expandedHeight]="customExpandedHeight"
      >
        <mat-panel-title> Cargar Maestros </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="mat__expansion-body">
        <h6 class="expansion__body-title">Productos</h6>

        <p>Consultar los productos en Logyca colabora</p>

        <button mat-button class="mat-button-primary">
          Exportar plantilla
        </button>
        <a mat-raised-button class="ml-min" target="_blank">
          Importar plantilla
        </a>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</section>
