<app-operations rutaSeleccionada="vectorizacion"></app-operations>
<div class="container">
  <div>
    <mat-accordion>
      <mat-expansion-panel
        class="mat-expansion-custom"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header
          class="mat-expansion-header"
          [collapsedHeight]="customCollapsedHeight"
          [expandedHeight]="customExpandedHeight"
        >
          <mat-panel-title> Vectorización </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>

      <mat-expansion-panel
        class="mat-expansion-custom"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header
          class="mat-expansion-header"
          [collapsedHeight]="customCollapsedHeight"
          [expandedHeight]="customExpandedHeight"
        >
          <mat-panel-title> Medición activa </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>

      <mat-expansion-panel
        class="mat-expansion-custom"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header
          class="mat-expansion-header"
          [collapsedHeight]="customCollapsedHeight"
          [expandedHeight]="customExpandedHeight"
        >
          <mat-panel-title> Medición de datos </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>

      <mat-expansion-panel
        class="mat-expansion-custom"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header
          class="mat-expansion-header"
          [collapsedHeight]="customCollapsedHeight"
          [expandedHeight]="customExpandedHeight"
        >
          <mat-panel-title> Cargar Maestros </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
