<form>
  <div class="row">
    <div class="col-md-6 col-sm-12 form-group mb-3">
      <label for="exampleFormControlInput1" class="form-label col-form-label"
        >Nombre</label
      >
      <div>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Nombre"
        />
      </div>
    </div>

    <div class="col-md-6 col-sm-12 form-group mb-3">
      <label for="exampleFormControlInput1" class="form-label col-form-label"
        >Cargo</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Cargo"
      />
    </div>

    <div class="col-md-6 col-sm-12 form-group mb-3">
      <label for="exampleFormControlInput1" class="form-label col-form-label"
        >Email</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
      />
    </div>

    <div class="col-md-6 col-sm-12 form-group mb-3">
      <label for="exampleFormControlInput1" class="form-label col-form-label"
        >Teléfono</label
      >
      <input
        type="number"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Teléfono"
      />
    </div>

    <div class="col-md-6 col-sm-12 form-group mb-3">
      <label for="exampleFormControlInput1" class="form-label col-form-label"
        >Empresa</label
      >
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="empresa"
      />
    </div>

    <div class="col-md-6 col-sm-12 form-group mb-3">
      <label for="exampleFormControlInput1" class="form-label col-form-label"
        >Rol</label
      >
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="rol"
      />
    </div>
  </div>
</form>
