<section class="section">
  <h6>Creación de cronograma</h6>
  <form class="d-flex justify-content-between">
    <mat-form-field>
      <mat-label>Ingresa un rango</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Fecha inicio" />
        <input matEndDate placeholder="Fecha fin" />
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <div>
      <button mat-button class="mat-button-primary">Exportar plantilla</button>
      <button class="btn mx-2 btn-outline-secondary" type="button">
        Importar plantilla
      </button>
    </div>
  </form>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" sortable="name">Fecha</th>
          <th scope="col" sortable="area">Solicitud</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dato of data">
          <th scope="row">{{ dato.id }}</th>
          <td>
            <ngb-highlight [result]="dato.fecha | date"></ngb-highlight>
          </td>
          <td><ngb-highlight [result]="dato.solicitud"></ngb-highlight></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-between p-2 paginator">
    <div>
      <p class="m-0">
        {{ (page - 1) * pageSize + pageSize }} de {{ total }} productos
      </p>
    </div>
    <div class="d-flex">
      <div class="d-flex mx-4 align-items-center">
        <label for="productsPerPage" class="mx-2">Filas por página</label>
        <select
          id="productsPerPage"
          class="form-select"
          style="width: auto"
          name="pageSize"
          [(ngModel)]="pageSize"
          (change)="updateProductsPerPage()"
        >
          <option [ngValue]="5">5</option>
          <option [ngValue]="10">10</option>
          <option [ngValue]="50">50</option>
        </select>
      </div>
      <div class="d-flex align-items-center">
        <p class="mx-4 mb-0">
          {{ (page - 1) * pageSize + 1 }}-{{ (page - 1) * pageSize + pageSize }}
        </p>
        <button
          type="button"
          class="btn mx-2"
          [ngClass]="{ disabled: page == 1 }"
          (click)="previousPage()"
        >
          <span class="fa fa-chevron-left"></span>
        </button>
        <button
          type="button"
          class="btn mx-2"
          [ngClass]="{ disabled: (page - 1) * pageSize + pageSize >= total }"
          (click)="addPage()"
        >
          <span class="fa fa-chevron-right"></span>
        </button>
      </div>
    </div>
  </div>
</section>
