<section class="section">
  <h6>Creación de cronograma</h6>
  <mat-grid-list
    [cols]="breakpoint"
    rowHeight="90px"
    (window:resize)="onResize($event)"
  >
    <form class="d-flex justify-content-between">
      <mat-grid-tile class="justify-start">
        <mat-form-field>
          <mat-label>Ingresa un rango</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Fecha inicio" />
            <input matEndDate placeholder="Fecha fin" />
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile class="justify-end">
        <button mat-button class="mat-button-primary">
          Exportar plantilla
        </button>
        <button class="btn mx-2 btn-outline-secondary" type="button">
          Importar plantilla
        </button>
      </mat-grid-tile>
    </form>
  </mat-grid-list>

  <div class="table-responsive">
    <table mat-table [dataSource]="data" class="table table-hover">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let item">{{ item?.id }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let item">{{ item.fecha | date }}</td>
      </ng-container>

      <ng-container matColumnDef="template">
        <th mat-header-cell *matHeaderCellDef>Solicitud</th>
        <td mat-cell *matCellDef="let item">{{ item.solicitud }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator
    [pageSizeOptions]="[10, 15, 20]"
    showFirstLastButtons
    aria-label="Selecciona una página"
  >
  </mat-paginator>
</section>
