<div class="account-container">
  <div class="d-flex align-items-center title-page">
    <span class="fa fa-right-from-bracket"></span>
    <p class="fw-bold m-0 px-2">Configuración</p>
  </div>
  <div>
    <span> Aquí se encuentra tu información de cuenta </span>
  </div>

  <span> Información de cuenta </span>

  <section class="account__form">
    <form>
      <div class="row">
        <div class="col-md-6 col-sm-12 form-group mb-3">
          <label
            for="exampleFormControlInput1"
            class="form-label col-form-label"
            >Nombre</label
          >
          <div>
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Nombre"
            />
          </div>
        </div>

        <div class="col-md-6 col-sm-12 form-group mb-3">
          <label
            for="exampleFormControlInput1"
            class="form-label col-form-label"
            >Cargo</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Cargo"
          />
        </div>

        <div class="col-md-6 col-sm-12 form-group mb-3">
          <label
            for="exampleFormControlInput1"
            class="form-label col-form-label"
            >Email</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="name@example.com"
          />
        </div>

        <div class="col-md-6 col-sm-12 form-group mb-3">
          <label
            for="exampleFormControlInput1"
            class="form-label col-form-label"
            >Teléfono</label
          >
          <input
            type="number"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Teléfono"
          />
        </div>

        <div class="col-md-6 col-sm-12 form-group mb-3">
          <label
            for="exampleFormControlInput1"
            class="form-label col-form-label"
            >Empresa</label
          >
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="empresa"
          />
        </div>

        <div class="col-md-6 col-sm-12 form-group mb-3">
          <label
            for="exampleFormControlInput1"
            class="form-label col-form-label"
            >Rol</label
          >
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="rol"
          />
        </div>
      </div>
    </form>
  </section>

  <span> Mis planes logyca </span>

  <section class="account__cards">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Plan A</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          Categoría: Producto
        </h6>
        <p class="card-text"></p>
        <p>1-5 productos</p>

        <div class="row">
          <span>1 año de servicio</span>
          <div class="col-6">
            <span>Inicio en: 21/03/2022</span>
          </div>
          <div class="col-6">
            <span> Termina en: 19/03/2024 </span>
          </div>
        </div>

        <p>20 usuarios</p>

        <button
          class="btn"
          style="background: #f24405; color: #fff"
          type="button"
        >
          Actualizar plan
        </button>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Plan B</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          Categoría: Producto
        </h6>
        <p class="card-text"></p>
        <p>1-5 productos</p>

        <div class="row">
          <span>1 año de servicio</span>
          <div class="col-6">
            <span>Inicio en: 21/03/2022</span>
          </div>
          <div class="col-6">
            <span> Termina en: 19/03/2024 </span>
          </div>
        </div>

        <p>20 usuarios</p>

        <button
          class="btn"
          style="background: #f24405; color: #fff"
          type="button"
        >
          Actualizar plan
        </button>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Plan C</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          Categoría: Producto
        </h6>
        <p class="card-text"></p>
        <p>1-5 productos</p>

        <div class="row">
          <span>1 año de servicio</span>
          <div class="col-6">
            <span>Inicio en: 21/03/2022</span>
          </div>
          <div class="col-6">
            <span> Termina en: 19/03/2024 </span>
          </div>
        </div>

        <p>20 usuarios</p>

        <button
          class="btn"
          style="background: #f24405; color: #fff"
          type="button"
        >
          Actualizar plan
        </button>
      </div>
    </div>
  </section>
  <section class="d-flex mt-3">
    <button class="btn" style="background: #f24405; color: #fff" type="button">
      Cambiar contraseña
    </button>
    <button type="button" class="mx-4 btn btn-outline-secondary">
      Guardar cambios
    </button>
  </section>
</div>
