.sidenav {
  height: 72px;
  background-color: #e2e2e2;
}

.sidenav__panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidenav__panel-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  margin: 40px 0px;

  .user-img {
    width: 60px;
    border-radius: 50%;
  }
}

.mat-nav__logo {
  min-width: 300px;
  position: absolute;
  bottom: 0px;
}

.nav-list__item {
  img {
    margin: 0px 12px;
  }
}

.logo {
  width: 90px;
  padding: 23.94px;
}

.container-app {
  background: #F1F1F1;
  height: calc(100vh - 84px);
}

.mat-expansion-panel-custom {
  border-radius: 0px !important;
  box-shadow: none !important;

  &.mat-expansion-panel-spacing {
    margin: 0px;
  }

  .mat-expansion-panel-body {
    padding: 0px;
  }

  .mat-expansion-panel-header {
    height: 48px;
    padding: 0px 24px 0px 16px;
  }

  .mat-expansion-panel-header-title {
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-weight: 400;
  }
}


.hide {
  display: none !important;
}

@media (max-width: 770px) {}