.sidenav {
    height: 72px;
    background-color: #e2e2e2;
}

.sidenav-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.container-app {
    background: #F1F1F1;
    height: calc(100vh - 84px); 
}

.logo-absolute {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mat-expansion-panel-custom {
    border-radius: 0px !important;
    box-shadow: none !important;

    &.mat-expansion-panel-spacing {
      margin: 0px;
    }

    .mat-expansion-panel-body {
      padding: 0px;
    }

    .mat-expansion-panel-header {
      height: 48px;
      padding: 0px 24px 0px 16px;
    }

    .mat-expansion-panel-header-title {
      color: rgba(0,0,0,0.87);
      font-size: 16px;
      font-weight: 400;
    }
  }


#navbarTogglerDemo01 {
    height: 100vh;
    text-align: center;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0;

    a {
        color: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 3rem;

        p {
            padding-left: 1rem;
            padding-right: 1rem;
            margin-bottom: 0 !important;
        }

        &:hover {
            color: #F48A54;
            background-color: #F1F1F1;
        }
    }

    .collapse {
        padding-left: 4rem;
    }
}

.hide {
    display: none !important;
}

@media (max-width: 770px) {
    #navbarTogglerDemo01 {
        height: fit-content;
        margin-bottom: 2em;
    }
}