.sidenav {
    height: 72px;
    background-color: #e2e2e2;
}

.sidenav-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.container-app {
    background: #F1F1F1;
    height: calc(100vh - 84px); 
}

.logo-absolute {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mat-expansion-panel-custom {
    border-radius: 0px !important;
    box-shadow: none !important;

    &.mat-expansion-panel-spacing {
      margin: 0px;
    }

    .mat-expansion-panel-body {
      padding: 0px;
    }

    .mat-expansion-panel-header {
      height: 48px;
      padding: 0px 24px 0px 16px;
    }

    .mat-expansion-panel-header-title {
      color: rgba(0,0,0,0.87);
      font-size: 16px;
      font-weight: 400;
    }
  }


.hide {
    display: none !important;
}

@media (max-width: 770px) {

}