<section class="section">
  <mat-grid-list
    [cols]="breakpoint"
    rowHeight="85px"
    (window:resize)="onResize($event)"
  >
    <mat-grid-tile class="justify-start">
      <app-input-search [placeHolderTxt]="'Buscar'"></app-input-search>
    </mat-grid-tile>

    <mat-grid-tile class="justify-end">
      <button mat-button class="mat-button-primary">Crear Solicitud</button>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="app-table">
    <table mat-table [dataSource]="users" class="table table-hover">
      <ng-container matColumnDef="request">
        <th mat-header-cell *matHeaderCellDef id="numSolicitud"># Solicitud</th>
        <td mat-cell *matCellDef="let item">{{ item?.id }}</td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef id="numUsuario">Usuario</th>
        <td mat-cell *matCellDef="let item">{{ item.user }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef id="numFecha">Fecha</th>
        <td mat-cell *matCellDef="let item">{{ item.date }}</td>
      </ng-container>

      <ng-container matColumnDef="template">
        <th mat-header-cell *matHeaderCellDef id="numPlanilla">Plantilla adjunta</th>
        <td mat-cell *matCellDef="let item">{{ item.add }}</td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef id="estado">Estado</th>
        <td mat-cell *matCellDef="let item">{{ item.status }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef id="numEstado">Estado</th>
        <td mat-cell *matCellDef="let item">
          <div class="status-content" [ngClass]="getClassStatus(item.status)">
            {{ item.status }}
            <div class="status-content-circle"></div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</section>
