<div class="container">
  <mat-grid-list
    [cols]="breakpoint"
    rowHeight="2:0.5"
    (window:resize)="onResize($event)"
  >
    <mat-grid-tile class="justify-start">
      <app-input-search [placeHolderTxt]="'Buscar'"></app-input-search>
    </mat-grid-tile>

    <mat-grid-tile>
      <button mat-button class="mat-button-primary">Crear Solicitud</button>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="app-table">
    <table class="table table-hover">
      <thead>
        <tr>
          <th># Solicitud</th>
          <th>Usuario</th>
          <th>Fecha</th>
          <th>Plantilla adjunta</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>{{ user.id_sol }}</td>
          <td>{{ user.user }}</td>
          <td>{{ user.date }}</td>
          <td>
            {{ user.add }}
          </td>
          <td>
            <div class="status-content" [ngClass]="getClassStatus(user.status)">
              {{ user.status }}
              <div class="status-content-circle"></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
