.navigator-title {

    &:hover,
    &:active {
        color: #F48A54;
        border-bottom: 2px solid #F48A54;
        cursor: pointer;
    }

}

.active {
    color: #F48A54;
    border-bottom: 2px solid #F48A54;
    cursor: pointer;
}